<div class="container" style="margin-right: 120px;">

    <form action="" method="POST" [formGroup]="productFormCreate" (ngSubmit)="onCreate()">
      <legend>Form thêm mới sản phẩm</legend>
      
      <div class="form-group">
        <label for="">Tên sản phẩm</label>
        <input type="text" class="form-control" formControlName="name" id="" placeholder="Input field" />
        <div *ngIf="submit && sub['name'].errors ">
          <span *ngIf="submit && sub['name'].errors['required']"style="color: red;">Tên không được để trống</span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="">Giá sản phẩm</label>
        <input type="number" class="form-control" formControlName="price" id="" placeholder="Input field" min="0">
        <div *ngIf="submit && sub['price'].errors">
          <span *ngIf="sub['price'].errors['required']"style="color: red;">Giá không được để trống</span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="">Ảnh sản phẩm</label>
        <input type="text" class="form-control" formControlName="image" id="" placeholder="Input field">
        <div *ngIf="submit && sub['image'].errors">
          <span *ngIf=" sub['image'].errors['required']" style="color: red;">Ảnh không được để trống</span>
        </div>
      </div>

      <div class="form-group">
        <label for="">Mô tả sản phẩm</label>
        <textarea type="text" class="form-control" formControlName="description" id="" placeholder="Input field" style="height: 100px;"></textarea>
        <div *ngIf="submit && sub['description'].errors">
          <span *ngIf="sub['description'].errors['required']" style="color: red;">Mô tả không được để trống</span>
          <span *ngIf="sub['description'].errors['minlength']" style="color: red;">Mô tả tối thiểu 10 ký tự</span>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
  </div>